
@{
    ViewBag.Title = "DataList";
}

<h2>DataList</h2>
<table id="myTable" class="table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>CustomerName</th>
            <th>ProjectName</th>
            <th>ProjectId</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Status</th>
            <th>Location_NAME</th>
            <th>SalesPersonName</th>
            <th>Category</th>
            <th>PRojectsTypes</th>
            <th>Engagement_type</th>
            <th>TimesheetReprName</th>
            <th>SubDomains</th>
            <th>ClientInvoiceGrp</th>
            <th>TimeSheet_Type</th>
            <th>IsVmsSheets</th>
            <th>Practice_type</th>
            <th>RecruitersName</th>
            <th>Action</th>





        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                ajax: {
                    url: "/Practice/GetProjectsAddED",

                    dataSrc: ""
                },
                pageLength: 20,
                lengthMenu: [1, 10, 100, 500],
                 
                columns: [
                    { data: "practice.CustomerName" },
                    { data: "practice.ProjectName" },
                    { data: "practice.ProjectId" },
                    {
                        data: "StartDateShow",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                        }
                    },
                    {
                        data: "EndDateShow",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                        }
                    },
                    { data: "Status" },
                    { data: "Location_NAME" },
                    { data: "SalesPersonName" },
                    { data: "Category" },
                    { data: "PRojectsTypes" },
                    { data: "Engagement_type" },
                    { data: "TimesheetReprName" },
                    { data: "SubDomains" },
                    { data: "ClientInvoiceGrp" },
                    { data: "TimeSheet_Type" },
                    { data: "IsVmsSheets" },
                    { data: "Practice_type" },
                    { data: "RecruitersName" },
                    {
                        "data": "practice.Id",
                        
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' href='/Project/AddEdit/"+data+"'><span class='glyphicon glyphicon-edit'></span> Edit </a> "
                        }
                    }


                ] 

            });
        });

    </script>
}


